.header-container{
    display: grid;
    grid-template-columns: 2fr;
    text-align: center;
    background-color: rgb(68, 167, 111);
    padding: 1em;
}

.navbar-links a{
    color: white;
    text-decoration: none;
    font: bold;
    font-size: 120%;
    margin: 2em;
}

html{
    height: 100%;
    color: white;
    background-color: black;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    content: "";
    background-image: url(/images/zerosandones.jpg);
    background-size: contain; /*i love how it makes it look glitchy */
    background-position: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.top-container{
    text-align: center;
    margin: 0;
    padding: 0;
}

.contact-container{
    text-align: center;
    margin: 20px;
    padding: 20px;  
    background-color: rgba(0, 0, 0, 0.5);
}

label{
    display: block;
    margin-bottom: 20px;
}

button{
    background-color: rgb(68, 167, 111);
    color: white;
    border:rgb(68, 167, 111);
    font-weight: bold;
    padding: 10px;
}

.homepage{
    position: relative;
    display: grid;
    grid-template-rows: auto;
    gap: 2em;
    margin: 4em;
}
.homepage::before{
    content: "";
    background-size: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.middle-container{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.about-me{
    text-align: center;
}

.explore a{
    color: white;
    font: bold;
    font-size: 120%;
    margin: 2em;

}

.explore{
    padding: 5em;
    text-align: center;
}


footer{
    text-align: center;
    padding: 1em;
    font-weight: bold;
    display: grid;
    grid-template-columns: 2fr;
    background-color: rgb(68, 167, 111);
}

.proj1{
    margin-bottom: 20px;
}

.proj2{
    margin-bottom: 20px;
}

.proj3{
    margin-bottom: 20px;
}

.imagess{
    max-width: 70%;
}